body {
    background-color: /*#c4dfe6*/ /*#fcedda*/ #add8e6;
    color: /*#013b45*/ /*#ee4e34*/ #1d1b1b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    text-align: center;
}

span {
    font-size: 20px;
}

h1 {
    margin-top: 70px;
}

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
  }

.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    min-width: 700px;
    align-items: center;
    justify-content: center;
}

.paintContainer {
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid black;
    margin-top: 30px;
    background-color: rgb(253, 243, 243);
    border-radius: 8px;
}

/*box is created in js file*/
.box {
    /*border: 1px solid black;*/
    text-align: center;
    cursor: pointer;
}

.containerForButtons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
}

input[type=color]{
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 40px;
	background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: solid 2px #86c7dd; /*change color of the swatch border here*/
	border-radius: 40px;
}